builder/node_modules

json-website/logs
json-website/*.log
json-website/npm-debug.log*
json-website/yarn-debug.log*
json-website/yarn-error.log*
json-website/pnpm-debug.log*
json-website/lerna-debug.log*

json-website/node_modules
json-website/dist
json-website/dist-ssr
json-website/*.local

json-website/.vscode/*
!json-website/.vscode/extensions.json
json-website/.idea
json-website/.DS_Store
json-website/*.suo
json-website/*.ntvs*
json-website/*.njsproj
json-website/*.sln
json-website/*.sw?

test-backend/node_modules