builder/node_modules

json-site/logs
json-site/*.log
json-site/npm-debug.log*
json-site/yarn-debug.log*
json-site/yarn-error.log*
json-site/pnpm-debug.log*
json-site/lerna-debug.log*

json-site/node_modules
json-site/dist
json-site/dist-ssr
json-site/*.local

json-site/.vscode/*
!json-site/.vscode/extensions.json
json-site/.idea
json-site/.DS_Store
json-site/*.suo
json-site/*.ntvs*
json-site/*.njsproj
json-site/*.sln
json-site/*.sw?

test-backend/node_modules